@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[hidden] {
		display: none !important;
	}

	::selection {
		@apply bg-ink text-canvas;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	html {
		accent-color: theme('colors.ink');
		caret-color: theme('colors.ink');
		scroll-behavior: smooth;
	}

	summary {
		cursor: pointer;
	}
	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	/* typography */

	._h {
		font-weight: bold;
	}

	.h1 {
		@apply _h text-3xl;
	}
	.h2 {
		@apply _h text-2xl;
	}
	.h3 {
		@apply _h text-xl;
	}
	.h4 {
		@apply _h text-lg;
	}
	.h5 {
		@apply _h;
	}
	.h6 {
		@apply _h;
	}

	.technical {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.text-gradient {
		@apply bg-gradient-to-br from-ink/5 to-ink bg-clip-text text-transparent;
	}

	/* ctas, links */

	._btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 1em;
		text-align: center;
	}

	.action {
		@apply _btn rounded bg-gradient-to-br from-ink/70 to-ink text-white shadow backdrop-blur;
	}

	.ghost {
		@apply _btn rounded backdrop-blur hover:bg-ink/5;
	}

	.link {
		text-decoration: underline;

		&:hover {
			text-decoration-thickness: 2px;
		}
	}

	/* layout */

	.section {
		@apply mx-auto max-w-screen-xl p-8 max-md:px-4 md:py-12;
	}
}

@layer utilities {
	.sticky-below-header {
		position: sticky;
		top: calc(var(--header-height) + var(--offset, 0px));
	}

	.full-bleed {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		& > * {
			flex: 0 0 calc(min(var(--size, 300px), 80vw));
			scroll-snap-align: center;
		}
	}

	.no-scrollbar {
		-webkit-overflow-scrolling: touch;
		overflow: auto;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.overflow-fade {
		--offset: 4rem;
		mask: linear-gradient(
			to right,
			transparent,
			black var(--offset),
			black calc(100% - var(--offset)),
			transparent
		);
	}

	.accordion {
		& summary {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;
			gap: 1em;

			&::after {
				content: '+';
				font-family: monospace;
				font-size: 1.5em;
				line-height: 1;
			}
		}

		& ::-webkit-details-marker {
			display: none;
		}

		&[open] summary::after {
			content: '-';
		}
	}

	.richtext {
		@apply space-y-2 leading-relaxed;

		& h1 {
			@apply h1;
		}
		& h2 {
			@apply h2;
		}
		& h3 {
			@apply h3;
		}
		& h4 {
			@apply h4;
		}
		& h5 {
			@apply h5;
		}
		& h6 {
			@apply h6;
		}

		& :is(ul, ol) {
			list-style: revert;
			padding-left: 1.5em;
		}

		& a:not(:is([class*='action'], [class*='ghost'])) {
			@apply link;
		}

		& :not(pre) > code {
			@apply rounded bg-ink/5 px-1;
		}

		& pre {
			@apply overflow-x-auto rounded bg-transparent p-3 text-xs leading-relaxed;
		}
	}

	/* animations */

	@keyframes anim-fade-to {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		--x: 0;
		--y: 0;
		animation: anim-fade-to 0.2s ease-in-out forwards;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}
}
