@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[hidden] {
		display: none !important;
	}

	html {
		scroll-behavior: smooth;
	}

	summary {
		cursor: pointer;
	}
	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	/* typography */

	._h {
		text-wrap: balance;
		font-weight: bold;
	}

	.h1 {
		@apply _h;
	}
	.h2 {
		@apply _h;
	}
	.h3 {
		@apply _h;
	}
	.h4 {
		@apply _h;
	}
	.h5 {
		@apply _h;
	}
	.h6 {
		@apply _h;
	}

	/* ctas, links */

	.action {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0.5em 1em;
		background: #000;
		color: #fff;
	}

	.link {
		text-decoration: underline;

		&:hover {
			text-decoration-thickness: 2px;
		}
	}

	/* layout */

	.section {
		@apply mx-auto max-w-screen-lg px-4 py-12;
	}
}

@layer utilities {
	.full-bleed {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		& > * {
			flex: 0 0 calc(var(--size, min(300px, 80vw)));
			scroll-snap-align: center;
		}
	}

	.richtext {
		@apply space-y-2;

		& h1 {
			@apply h1;
		}
		& h2 {
			@apply h2;
		}
		& h3 {
			@apply h3;
		}
		& h4 {
			@apply h4;
		}
		& h5 {
			@apply h5;
		}
		& h6 {
			@apply h6;
		}

		& :is(ul, ol) {
			list-style: revert;
			padding-left: 1.5em;
		}
	}

	/* animations */

	@keyframes anim-fade-to {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		animation: anim-fade-to 0.2s ease-in-out forwards;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}
}
