* {
	min-width: 0;
}

[hidden] {
	display: none !important;
}

:target {
	scroll-margin-top: var(--header-height);

	&:is(h1, h2, h3, h4, h5, h6) {
		animation: target var(--default-transition-duration) ease-in-out forwards;
	}
}

@keyframes target {
	0%,
	50% {
		@apply bg-amber-400/50;
	}
}

html {
	accent-color: var(--color-accent);
	caret-color: var(--color-accent);
	scroll-behavior: smooth;
}

summary,
label,
input[type='submit'] {
	cursor: pointer;
}

::-webkit-details-marker {
	display: none;
}
