@import 'tailwindcss';

@theme {
	--color-ink: #1d1d1f;
	--color-canvas: #fff;
	--color-accent: #1d1d1f;

	--max-height-fold: calc(100svh - var(--header-height));

	--lh-default: 1lh;
	--lh-2: 2lh;
	--lh-3: 3lh;
}
