@media (width >=48rem) {
	.safearea {
		--safearea-x: 4rem;

		&>summary {
			position: relative;
		}

		&[open]>summary:hover::before {
			content: '';
			position: absolute;
			z-index: 1;
			inset: 0.25lh calc(var(--safearea-x) * -1) -2rem;
			translate: -1em 18%;
			clip-path: polygon(50% 0, 100% 100%, 0 100%);
		}
	}
}
